<!DOCTYPE html>
<html>
<head>
    <title>SwallowTales</title>
    <!-- some django magic? -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/myCSS1.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="icon" type="/static/image/ico" href="/static/img/swicon.png" />
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <a class="pull-left" href="/">
                    <div><img id="logo" src="/static/img/swallowtales.png"/></div>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/muh-stories/">Muh Storiez</a></li>
                        <li><a href="#">Bookmarks</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/signup/">Sign Up</a></li>
                        <li><a href="/login/">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
</body>
</html>