{% extends "base.html" %}

{% block content %}

<div class="container-fluid" id="muh_stories">
    {% if user.is_authenticated %}
        <h1>Welcome, {{ request.user.username }}!</h1>
    {% else %}
        <h1>Welcome!</h1>
    {% endif %}
    <h4>Here are our most recent stories:</h4>
    <ul>
    {% for section in first_sections_list %}

        <li><a href="{% url 'SwallowTales.views.view_section' section.pk %}">{{ section.story.name }}</a> by: {{ section.author.username }}</li>
    {% endfor %}
    </ul>
    
</div>

{% endblock content %}