#sign_up_form {
    margin: auto;
    width: 50%;
    margin-top: 3%;
}

* {
    font-family: Garamond;
}

.navbar {
    background-color: #4B92DB;
    background-image: none;
    background-repeat: no-repeat;
    border-color: #4B92DB;
    font-family: Garamond;
}

.navbar .nav li > a {
    color: white;
}

.navbar .nav li > a:hover {
    color: lightgray;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: lightgray;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #5BA2EB;
}

.navbar .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-collapse {
        border-color: white;
}

#logo {
    max-width: 100px;
}